<h1>Game board</h1>

<table class="chessboard">
		
<tr class="chessboard">
    <td class="chessboard"><%= image_tag "bR.png" %></td>
    <td class="chessboard"><%= image_tag "bN.png" %></td>
    <td class="chessboard"><%= image_tag "bB2.png" %></td>
    <td class="chessboard"><%= image_tag "bK.png" %></td>
    <td class="chessboard"><%= image_tag "bQ.png" %></td>
    <td class="chessboard"><%= image_tag "bB.png" %></td>
    <td class="chessboard"><%= image_tag "bR2.png" %></td>
    <td class="chessboard"><%= image_tag "bR2.png" %></td>
</tr>
<tr class="chessboard">
    <td class="chessboard"><%= image_tag "bP.png" %></td>
    <td class="chessboard"><%= image_tag "bP2.png" %></td>
    <td class="chessboard"><%= image_tag "bP3.png" %></td>
    <td class="chessboard"><%= image_tag "bP4.png" %></td>
    <td class="chessboard"><%= image_tag "bP5.png" %></td>
    <td class="chessboard"><%= image_tag "bP6.png" %></td>
    <td class="chessboard"><%= image_tag "bP7.png" %></td>
    <td class="chessboard"><%= image_tag "bP8.png" %></td>
</tr>
<tr class="chessboard">
    <td class="chessboard"></td>
    <td class="chessboard"></td>
    <td class="chessboard"></td>
    <td class="chessboard"></td>
    <td class="chessboard"></td>
    <td class="chessboard"></td>
    <td class="chessboard"></td>
    <td class="chessboard"></td>
</tr>
<tr class="chessboard">
    <td class="chessboard"></td>
    <td class="chessboard"></td>
    <td class="chessboard"></td>
    <td class="chessboard"></td>
    <td class="chessboard"></td>
    <td class="chessboard"></td>
    <td class="chessboard"></td>
    <td class="chessboard"></td>
</tr>
<tr class="chessboard">
    <td class="chessboard"></td>
    <td class="chessboard"></td>
    <td class="chessboard"></td>
    <td class="chessboard"></td>
    <td class="chessboard"></td>
    <td class="chessboard"></td>
    <td class="chessboard"></td>
    <td class="chessboard"></td>
</tr>
<tr class="chessboard">
    <td class="chessboard"></td>
    <td class="chessboard"></td>
    <td class="chessboard"></td>
    <td class="chessboard"></td>
    <td class="chessboard"></td>
    <td class="chessboard"></td>
    <td class="chessboard"></td>
    <td class="chessboard"></td>
</tr>
<tr class="chessboard">
    <td class="chessboard"><%= image_tag "wP.png" %></td>
    <td class="chessboard"><%= image_tag "wP2.png" %></td>
    <td class="chessboard"><%= image_tag "wP3.png" %></td>
    <td class="chessboard"><%= image_tag "wP4.png" %></td>
    <td class="chessboard"><%= image_tag "wP5.png" %></td>
    <td class="chessboard"><%= image_tag "wP6.png" %></td>
    <td class="chessboard"><%= image_tag "wP7.png" %></td>
    <td class="chessboard"><%= image_tag "wP7.png" %></td>
</tr>
<tr class="chessboard">
    <td class="chessboard"><%= image_tag "wR.png" %></td>
    <td class="chessboard"><%= image_tag "wN.png" %></td>
    <td class="chessboard"><%= image_tag "wB2.png" %></td>
    <td class="chessboard"><%= image_tag "wK.png" %></td>
    <td class="chessboard"><%= image_tag "wQ.png" %></td>
    <td class="chessboard"><%= image_tag "wB.png" %></td>
    <td class="chessboard"><%= image_tag "wR2.png" %></td>
    <td class="chessboard"><%= image_tag "wR2.png" %></td>
</tr>
</table>